.navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
}

.navbar-nav .nav-link:hover {
    color: rgb(0, 42, 255) !important;
}

.navbar-light .navbar-brand {
    color: rgb(255 255 255 / 90%);
}

body {
    background-color: #dad8d8;
}



#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}