{% extends 'todo/base.html' %}

{% block content %}
    <br>
    <p> Это твои выполненые задачи</p>
    <br>

    <ul>
        {% for todo in todos %}
            <li>
                <a href="{% url 'view_todo' todo.id %}">
                    {% if todo.important %}
                    <b>{{ todo.title }}</b>
                    {% else %}
                    {{ todo.title }}
                    {% endif %}
                    {{ todo.datecompleted|date:'M j Y H:i' }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <a href="{% url 'home' %}">Вернуться на главную страницу</a>
{% endblock %}
