{% extends "blog/base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-md-15">
    <img src="{% static 'blog/b.jpg' %}" class="img-fluid"/>
  </div>
</div>

<div class="row justify-content-center mb-2">
  <div class="col-md-12 text-center">
    <h1 class="font-weight-bold\"><a href="https://github.com/FrozenQxc">⚡FrozenQxc</a></h1>
    <p>Данный сайт был написан на Django.</p>
  </div>
</div>

<div class="shadow p-3 mb-3 bg-body-tertiary rounded">
  <h2 class="text-center">Портфолио</h2>
</div>

<hr>

<div class="row justify-content-center mb-15">
  {% for project in projects %}
    <div class="col-md-2">
      {% if project.url %}
        <a href="{{ project.url }}">
          <img src="{{ project.image.url }}" class="img-fluid mb-2"/>
        </a>
      {% else %}
        <img src="{{ project.image.url }}" class="img-fluid mb-2"/>
      {% endif %}
      <h3>{{ project.title }}</h3>
      <p>{{ project.discription }}</p>
    </div>
  {% endfor %}
</div>

{% endblock %}
